:root {
    --Light-red: hsl(353, 100%, 62%);
    --Very-light-red: hsl(13, 100%, 72%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
}

html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

.header-container {
    height: 33.5rem;
    padding-left: 10rem;
    border-radius: 0 0 0 10rem;
    font-family: 'Overpass', sans-serif;
    background: url('/images/bg-pattern-intro.svg'), linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%) ;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 30% 50%; 
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 7rem;
    padding-top: 3.6rem;
    margin: auto auto 8.6rem auto;

}

.header-img {
    margin-right: 3rem;
}

.header-arrow {
    margin-left: 1rem;
}

.header-product-container {
    width: 8rem;
    height: 1rem;
}

#fix {
    transform: translateX(1rem);
}

.header-product {
    color: var(--White);
    font-weight: 600;
}

.header-company {
    color: var(--White);
    font-weight: 600;
}

.header-connect {
    color: var(--White);
    font-weight: 600;
}

.header-product, .header-company, .header-connect {
    cursor: pointer;
}

.product-box {
    cursor: pointer;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10.5rem;
    height: 9.1rem;
    padding-left: 1.5rem;
    border-radius: .5rem;
    position: absolute;
    background-color: white;
    transform: translateX(3rem) translateY(.5rem);
}

.company-box {
    cursor: pointer;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10.5rem;
    height: 9.1rem;
    padding-left: 1.5rem;
    border-radius: .5rem;
    position: absolute;
    background-color: white;
    transform: translateX(2rem) translateY(.5rem);
}

.connect-box {
    cursor: pointer;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10.5rem;
    height: 9.1rem;
    padding-left: 1.5rem;
    border-radius: .5rem;
    position: absolute;
    background-color: white;
    transform: translateX(2rem) translateY(.5rem);
}

.header-div-list-1:hover, .header-div-list-2:hover, .header-div-list-3:hover, .header-div-list-3:hover {
    font-weight: 700;
}

.hidden {
    display: none;
}

.header-register {
    display: flex;
    align-items: center;
    width: 20rem;
}

.login-p {
    cursor: pointer;
    color: var(--White);
    font-weight: 600;
    margin: auto 2rem auto 6rem;
}

.signup-button {
    cursor: pointer;
    color: var(--Light-red);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    border: .1rem solid white;
    width: 8.5rem;
    height: 3rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-header {
    color: var(--White);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.p-header {
    color: var(--White);
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.startff-button {
    cursor: pointer;
    width: 8.6rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Light-red);
    margin-right: .5rem;
    border: 0 solid;
    border-radius: 2rem;
}

.learnmore-button {
    cursor: pointer;
    width: 8.6rem;
    height: 3rem;
    font-weight: 600;
    margin-left: .5rem;
    color: white;
    border: .1rem solid white;
    border-radius: 2rem;
    background-color: rgba(255, 0, 0, 0);
}

.main-container {
    background-color: rgb(75, 16, 16);
}

.footer-container {
    background-color: rebeccapurple;
}